# Build
/build/
/bin/
.venv/
vcpkg/
web/node_modules/
web/dist/
valgrind_output.txt

# Dictionary
nlohmann/kaikki.org-dictionary-English.jsonl
dictionary.db
dictionary.zip
dictionary-db.zip
dictionary.db-shm
dictionary.db-wal

# File types
*.o
*.obj
*.exe
*.pem
.env
*.key
*.log


# Config
config.json
.env
.codex
