nlohmann/kaikki.org-dictionary-English.jsonl
dictionary.db
dictionary.zip
dictionary-db.zip
dictionary.db-shm
dictionary.db-wal
*.o
*.obj
*.exe
/build/
/bin/
.venv/
config.json
.codex
web/node_modules/
vcpkg/
dictionary_words
